body {
    background-color: #c6d6d6;
    color: white;
    font-family:lexend;
    font-weight: 200;
    width:100%;
    align-items: center;
}

nav {
    cursor: pointer;
    background-color: #77181e;
    color:#c6d6d6;
}

.barra {
    align-items: center;
    margin: auto;
    display: flex;
}

.nombre {
    margin-left: 40px;
    margin-right:20px;
    font-weight: 500;
    font-size: 35px;
}

.barra a {
    margin-left:20px;
    transform:translateX(150px);
}

.peliculas {
    margin-right: 50px;
    margin-left: 50px;
}

.entradas {
    margin-right: 50px;
    margin-left: 50px;
}

.pelicula {
    background: #a92727;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    transition: background 0.3s;
}

.pelicula:hover {
    background: #a92727;
}

.poster {
    width: auto;
    height: 150px;
    border-radius: 10px;
    align-items: center;
}

.título {
    font-size:20px;
    font-weight: 500;
    text-align: center;
}

.género {
    text-align: center;
}

.duración {
    text-align: center;
}

.experiencia {
    background-color: #c6d6d6;
    font-size: 10px;
    font-weight: 400;
    width: 150px;
    color: #282832;
    align-items: center;
    margin: auto;
    margin-top: 5px;
    text-align: center;
    border-radius: 5px;
}

.detalle {
    background: #2d3748;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    text-align: center;
}

.pantallas {
    text-align: center;
}

.pantalla {
    text-align: center;
    color: #f6ad55;
    font-size: 24px;
    margin-bottom: 20px;
}

.mapa {
    align-items: center;
    margin: auto;
}

.mapa-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: center;
    gap: 10px;
    width: 100%;
    max-width:3000px;
    margin: 0;
}

.fila {
    display: grid;
    grid-template-columns: repeat(26, 1fr);
    gap: 10px;
    width: 100%;
    max-width: 100%;
}

.fila:not(.ultima-fila) {
    grid-template-columns: repeat(12, 1fr) 48px repeat(14, 1fr);
}

.asiento {
    aspect-ratio: 1;
    background-color: #4B5563;
    border: 1px solid #9CA3AF;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    min-width: 30px;
    min-height: 30px;
}

.asiento:hover {
    background-color: #a92727;
}

.pasillo {
    grid-column: span 2;
    background-color: transparent;
}

.hidden {
    display: none;
}

.contenedor-pelicula {
    width: 100px;
    padding: 15px;
    border-radius: 10px;
    background-color: #2d3748;
    text-align: center;
    margin: 0 auto;
}

.poster {
    width: 150px;
    height: auto;
    border-radius: 10px;
    align-items: center;
    margin: auto;
    margin-bottom: 15px;
}

.horario-sala {
    display: inline-block;
    padding: 10px 15px;
    margin: 5px;
    background-color: #4a5568;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.horario-sala:hover {
    background-color: #2d3748;
}

.horario-texto {
    margin-top: 10px;
    text-align: center;
    font-weight: bold;

}

.horarios {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    list-style-type: none;
}

.entradas {
    margin-right: 50px;
    margin-left: 50px;;
    display: none;
}

.table {
    border-collapse: collapse;
    margin: 20px 0;
    background: #a92727;
    border-radius: 10px;
}

th, td {
    padding: 10px;
    text-align: center;
    font-size: 12px;
    border: 1px solid #a92727;
    background: #c6d6d6;
    color: #282832;
}

.menus {
    margin-right: 50px;
    margin-left: 50px;;
    display: none;
}
